@media screen and (min-width: 1450px) and (max-width: 1536px) {
    .slide_btn{
        margin-top: 25px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1450px) {

    .nav li {
        float: left;
    }
    .nav{
        width: 650px;
    }


    .middle_navitem {
        padding: 0 15px;
    }

    .first_navitem {
        padding-right: 15px;
    }

    .last_navitem {
        padding-left: 15px;
    }

    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 120px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .number_mts {
        right: 45px;
    }

    .mts_logo {
        right: 10px;
    }
    h1{
        font-size: 35px;
        line-height: 40px;
    }

    .slide_info {
        height: 240px;
        top: 90px;
    }

    .slide_info p {
        font-size: 15px;
        line-height: 15px;
    }

    .slide_btn {
        width: 175px;
        margin-top: 30px;
    }

    .advantages {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: 250px;
        grid-column-gap: 30px;

    }

    .advantage_content {
        padding: 30px 10px 30px;
    }

    .activity_btn {
        width: 175px;
        height: 45px;
        margin-top: 40px;
    }

    .slider_last_container {
        width: 1050px;
        margin: auto;
    }
    .dir_slider img{
        width: 100%;

    }

    .client_logos img {

    }

    .first_logo {
        margin-right: 15px;
    }

    .client_logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 1148px;
        mix-blend-mode: luminosity;
    }

    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }

    .last_logo {
        margin-left: 0;
    }



}






@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .header {
        height: 120px;
        width: 100%;
    }
    .nav li {
        float: left;
    }
    .nav{
        width: 650px;
        left: 341px;
        top: 35px;
    }

    .wrapper a .nav_logo {
        margin-top: 20px;
        margin-left: 15px;
        width: 191px;
    }
    .language{
        margin-left: 15px;
    }


    .middle_navitem {
        padding: 0 15px;
    }

    .first_navitem {
        padding-right: 15px;
    }

    .last_navitem {
        padding-left: 15px;
    }

    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 590px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .eye {
        position: absolute;
        margin-right: -17px;
        margin-left: 50%;
    }
    .number_mts {
        display: none;
    }

    .mts_logo {
        position: static;
        display: none;
    }
    h1{
        font-size: 30px;
        line-height: 35px;
    }

    .slide_info {
        margin-left: 15px;
        height: 240px;
        top: 60px;
    }

    .slide_info p {
        margin-top: 10px;
        font-size: 15px;
        line-height: 15px;
    }

    .slide_btn {
        width: 140px;
        height: 35px;
        margin-top: 15px;
    }
    .prev{
        margin-left: 15px;
    }
    .next{
        margin-left: 15px;
    }

    .advantages {
        display: grid;
        grid-template-columns: repeat(4, 215px);
        grid-template-rows: 230px;
        grid-column-gap: 30px;

    }
    .single_advantage{
        width: 100%;
    }

    .advantage_content {
        padding: 20px 5px 20px;
    }
    .advantage_content img{
        width: 205px;
    }

    .escort_text {
        padding: 30px 40px 40px 50px;
    }
    .escort_text h2{
        margin-left: 0;
    }

    .activity_cards {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 140px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;

    }

    .activity_name {
        width: 170px;
        height: 90px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .activity_img {
        margin: 35px 5px 3px 45px;
        width: 60px;
        height: 60px;
        position: absolute;
right: 0;
    }
    .single_activity_card{
        position: relative;
    }
    .activity_img img{
        width: 100%;
    }

    .escort_text p {
        padding-top: 15px;

    }
    .activity .wrapper h2{
        margin-left: 15px;
    }

    .activity_btn {
        width: 140px;
        height: 35px;
        margin-top: 40px;
        margin-left: 15px;
    }
    .dir_text_title{
        margin-left: 15px;
    }

    .slider_last_container {
        width: 90%;
        margin: auto;
    }
    .dir_slider img{
        width: 100%;
    }
    h2{
        margin-left: 15px;
    }
    .reviews_slider {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 585px;
        grid-column-gap: 30px;
    }
    .review_btn{
        width: 140px;
        height: 35px;
        margin-left: 15px;
    }
    .arrows_rev{
        width: 140px;
    }
    .clients{
        margin-left: 15px;
    }


    .first_line_result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 305px;
        grid-column-gap: 30px;
    }

    .result_first_line_box img {
        left: auto;
        right: 0;
    }

    .result_first_line_box p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .service_text{
        margin-left: 15px;
    }
    .slider_card img{
        width: 100%;
    }


    .first_logo {
        margin-right: 15px;
    }

    .client_logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 930px;
        mix-blend-mode: luminosity;
    }


    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }
    .service_btn{
        width: 140px;
        height: 35px;
        margin-right: 15px;
    }
    .why_choose_text p{
        margin-left: 15px;
    }

    .last_logo {
        margin-left: 0;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_list {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(4, 1fr);
    }
    .single_plus{
        width: 100%;
    }
    .pluses_text{
        width: 97%;
        margin-right: auto;
        margin-left: auto;
    }

    .pluses_text img {
        left: auto;
        right: 0;
    }
    .coop_text p{
        margin-left: 15px;
    }
    .coop_form{
        margin-right: 15px;
        padding-right: 15px;
    }
    .input{
        width: 91%;
    }
    .coop_list{
        margin-left: 15px;
    }
    .price p{
        margin-left: 15px;
    }
    .price{
        margin-top: 125px;
    }

    .column_one {
        height: 480px;
        width: 300px;
        margin-top: 49px;
        margin-left: 15px;
    }

    .column_two {
        width: 480px;
        height: 605px;

    }

    .column_two_one, .column_two_two, .column_two_three {
        width: 130px;

    }

    .column_three {
        width: 170px;
        height: 335px;

    }


}

@media screen and (min-width: 800px) and (max-width: 1000px) {

    .header {
        height: 120px;
        width: 100%;
    }
    .nav li {
        float: left;
    }
    .nav{
        width: 550px;
        left: 241px;
        top: 35px;
    }

    .nav li a {
        font-size: 11px;
        line-height: 15px;
        /* identical to box height, or 143% */


    }

    .wrapper a .nav_logo {
        margin-top: 20px;
        margin-left: 15px;
        width: 191px;
    }
    .language{
        margin-left: 15px;
    }


    .middle_navitem {
        padding: 0 15px;
    }

    .first_navitem {
        padding-right: 15px;
    }

    .last_navitem {
        padding-left: 15px;
    }

    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 410px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .eye {
        position: absolute;
        margin-right: -17px;
        margin-left: 50%;
    }
    .number_mts {
        display: none;
    }

    .mts_logo {
        position: static;
        display: none;
    }
    h1{
        font-size: 20px;
        line-height: 25px;
    }

    .slide_info {
        margin-left: 15px;
        height: 240px;
        top: 60px;
    }

    .slide_info p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 12px;
    }

    .slide_btn {
        width: 120px;
        height: 25px;
        margin-top: 10px;
    }
    .slide_btn a {
        font-size: 11px;
    }

    .prev {
        margin-left: 15px;
        left: 0;
        top: -101px;
    }

    .next {
        left: 50px;
        top: -101px;
        margin-left: 15px;
    }
    .advantages {
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: 230px;
        grid-column-gap: 30px;
    }

    .advantage_content {
        padding: 20px 5px 20px;
    }
    .advantage_content img{
        width: 160px;
    }



    .advantage_content p {
        font-size: 12px;
    }

    .escort_img{
        display: none;
    }

    .escort {
        height: 560px;
    }
    .escort_text {

        padding: 30px 40px 0 50px;
    }
    .escort_text h2{
        margin-left: 0;
    }

    .activity_cards {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;
    }
    .single_activity_card{
        height: 100%;
        position: relative;
    }

    .activity_name {
        width: 170px;
        height: 90px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .activity_img {
        /*margin: 35px 5px 3px 45px;*/
        margin: 0;
        position: absolute;
        top: 30px;
        right: 15px;
        width: 60px;
        height: 60px;
    }
    .activity_img img{
        width: 100%;
    }

    .escort_text p {
        padding-top: 15px;

    }
    .activity .wrapper h2{
        margin-left: 15px;
    }

    .activity_btn {
        width: 140px;
        height: 35px;
        margin-top: 40px;
        margin-left: 15px;
    }
    .dir_text_title{
        margin-left: 15px;
    }

    .slider_last_container {
        width: 90%;
        margin: auto;
    }

    .next_last {
        margin-right: -30px;
    }

    .prev_last {
        margin-left: -30px;
    }
    .dir_slider img{
        width: 100%;
    }
    h2{
        margin-left: 15px;
    }
    .reviews_slider {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 675px;
        grid-column-gap: 30px;
    }
    .review_btn{
        width: 140px;
        height: 35px;
        margin-left: 15px;
    }
    .arrows_rev{
        width: 140px;
    }
    .clients{
        margin-left: 15px;
    }



    .first_line_result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 305px;
        grid-column-gap: 30px;
    }

    .result_first_line_box img {
        left: auto;
        right: 0;
    }

    .result_first_line_box p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .service_text{
        margin-left: 15px;
    }
    .slider_card img{
        width: 100%;
    }




    .client_logos {
        display: none;
    }

    .second_line_result p{
        font-size: 12px;
    }

    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }
    .service_text p{

    }
    .service_btn{
        width: 140px;
        height: 35px;
        margin-right: 15px;
        margin-left: 10px;
    }
    .why_choose_text p{
        margin-left: 15px;
    }
    .why_choose_list{
        margin-left: 40px;
    }

    .last_logo {
        margin-left: 0;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_list {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(4, 1fr);
    }
    .single_plus{
        width: 100%;
    }
    .plus_content{
        padding: 10px 5px 10px 5px;
    }
    .plus_content img{
        width: 120px;
    }
    .pluses_text{
        width: 97%;
        margin-right: auto;
        margin-left: auto;

    }
    .pluses_text p{
        margin-left: 10px;
    }

    .pluses_text img {
        left: auto;
        right: 0;
    }
    .coop_text p{
        margin-left: 15px;
    }
    .coop_form{
        margin-right: 15px;
        padding: 15px;
        width: 300px;
    }

    .form_pad {
        height: 275px;
        width: 200px;
        margin: 10px;
    }
    .input{
        width: 91%;
    }
    .coop_list{
        margin-left: 15px;
    }
    .price p{
        margin-left: 15px;
    }
    .price{
        margin-top: 125px;
    }

    .column_one {
        height: 480px;
        width: 130px;
        margin-top: 49px;
        margin-left: 15px;
    }

    .column_two {
        width: 480px;
        height: 705px;

    }

    .column_two_one, .column_two_two, .column_two_three {
        width: 120px;

    }

    .column_three {
        width: 170px;
        height: 335px;

    }

}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .header {
        display: none;
    }

    .mobile_nav {
        display: block;
        height: 65px;
    }


    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: 90%;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #DEC377;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    .mobile_nav .link_mob {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
        opacity: 1;
        font-family: Commissioner;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: 200ms;
    }

    .mobile_numbers {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
    .mobile_numbers img{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        margin-top: 2px;
    }

    .mobile_nav .link_mob:hover {
        opacity: 0.5;
    }
    .mobile_nav .nav_logo{
        position: absolute;
        left: 50%;
        margin-left: -115px;
        top: 0;

    }

    .mobile_nav ul {
        padding: 0;
        list-style-type: none;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 180px;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .nav li {
        float: left;
    }
    .nav{
        width: 550px;
        left: 241px;
        top: 35px;
    }

    .nav li a {
        font-size: 11px;
        line-height: 15px;
        /* identical to box height, or 143% */


    }



    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 410px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .eye {
        position: absolute;
        margin-right: -17px;
        margin-left: 50%;
    }
    .number_mts {
        display: none;
    }

    .mts_logo {
        position: static;
        display: none;
    }
    h1{
        font-size: 15px;
        line-height: 20px;
    }

    .slide_info {
        height: 300px;
        top: 70px;
        width: 300px;
        margin-left: 30px;
    }


    .slide_info p {
        margin-top: 10px;
        font-size: 11px;
        line-height: 11px;
    }

    .slide_btn {
        width: 120px;
        height: 25px;
        margin-top: 10px;
    }
    .slide_btn a {
        font-size: 11px;
    }

    .prev {
        left: 0;
        top: -120px;
    }

    .next {
        left: auto;
        right: 0;
        top: -120px;
    }
    .advantages {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 230px);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .single_advantage{
        width: 100%;
    }

    .advantage_content {
        padding: 20px 5px 20px;
    }
    .advantage_content img{
        width: 190px;
    }
    .escort{
        margin-top: 500px;
    }



    .advantage_content p {
        font-size: 15px;
    }

    .escort_img{
        display: none;
    }

    .escort {
        height: 580px;
    }
    .escort_text {
        font-size: 14px;
        padding: 30px 40px 0 50px;
    }
    .escort_text h2{
        margin-left: 0;
    }

    .activity_cards {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;
    }
    .single_activity_card{
        height: 100%;
        position: relative;
    }

    .activity_name {
        width: 120px;
        height: 90px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .activity_img {
        /*margin: 35px 5px 3px 45px;*/
        margin: auto;
        position: absolute;
        right: 15px;
        top: 30px;
        width: 60px;
        height: 60px;
    }
    .activity_img img{
        width: 100%;
    }

    .escort_text p {
        padding-top: 15px;

    }
    .activity .wrapper h2{
        margin-left: 15px;
    }

    .activity_btn {
        width: 140px;
        height: 35px;
        margin-top: 40px;
        margin-left: 15px;
    }
    .dir_text_title{
        margin-left: 15px;
    }

    .slider_last_container {
        width: 90%;
        margin: auto;
    }
    .next_last{
        margin-right: -30px;
    }
    .prev_last{
        margin-left: -30px;
    }
    .dir_slider img{
        width: 100%;
    }
    h2{
        margin-left: 15px;
    }
    .reviews_slider {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 700px);
        grid-row-gap: 30px;
    }
    .review_btn{
        width: 140px;
        height: 35px;
        margin-left: 15px;
    }
    .arrows_rev{
        width: 140px;
    }
    .clients{
        margin-left: 15px;
    }
    .client_text{
        width: 350px;
    }
    .client_btn{
        width: 140px;
        height: 35px;
    }
    .client_btn a{
        font-size: 13px;
    }

    h4 {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height, or 173% */


        /* Title */

        color: rgba(0, 0, 0, 0.9);
    }

    .first_line_result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 305px;
        grid-column-gap: 30px;
    }

    .result_first_line_box img {
        left: auto;
        right: 0;
    }

    .result_first_line_box p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .second_line_result p{
        line-height: 13px;
    }
    .service_text{
        margin-left: 15px;
    }
    .slider_card img{
        width: 100%;
    }
    h5{
        line-height: 20px;
    }



    .client_logos {
        display: none;
    }

    .second_line_result p{
        font-size: 12px;
    }

    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }

    .service_text{
        width: 95vw;
        flex-direction: column;
    }
    .service_text p{
        width: 100%;
        height: 100%;
    }
    .service_btn{
        margin-left: 0;
        width: 140px;
        height: 35px;
        margin-top: 15px;
        text-align: center;
    }

    .first_why_choose_us {
        display: flex;
        flex-direction: column;
    }
    .white_back_second .wrapper p{
        width: 95%;
    }

    .why_choose_text p{
        margin-left: 15px;
    }
    .why_choose_list{
        margin-left: 40px;
    }

    .last_logo {
        margin-left: 0;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_list {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-row-gap: 30px;
    }
    .single_plus{
        width: 100%;
    }
    .plus_content{
        padding: 10px 5px 10px 5px;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_text{
        width: 97%;
        margin-right: auto;
        margin-left: auto;

    }
    .pluses_text p{
        margin-left: 10px;
        width: 95%;
    }

    .pluses_text img {
        left: auto;
        right: 0;
    }

    .cooperation .wrapper {
        display: flex;
        flex-direction: column;
    }
    .coop_text {
        width: 100%;
    }
    .coop_text p{
        margin-left: 15px;
    }
    .coop_form{
        margin-right: 15px;
        margin-left: 15px;
        padding: 15px;
        width: 90vw;
    }


    .form_pad {
        height: 275px;
        width: 95%;
        margin: 10px;
    }
    .input{
        width: 91%;
    }
    .coop_list{
        margin-left: 15px;
    }
    .price p{
        margin-left: 15px;
        width: 95%;
    }
    .price{
        margin-top: 125px;
    }

    .column_one {
        height: 480px;
        width: 160px;
        margin-top: 49px;
        margin-left: 15px;
    }

    .column_two {
        width: 300px;
        height: 1205px;
        flex-direction: column;

    }

    .offices_row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }

    .column_two_one, .column_two_two, .column_two_three {
        width: 250px;

    }

    .column_three {
        width: 190px;
        height: 335px;

    }


}
@media screen and (min-width: 420px) and (max-width: 600px) {
    .header {
        display: none;
    }

    .mobile_nav {
        display: block;
        height: 65px;
    }


    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: 90%;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #DEC377;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    .mobile_nav .link_mob {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
        opacity: 1;
        font-family: Commissioner;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: 200ms;
    }

    .mobile_numbers {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
    .mobile_numbers img{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        margin-top: 2px;
    }

    .mobile_nav .link_mob:hover {
        opacity: 0.5;
    }
    .mobile_nav .nav_logo{
        position: absolute;
        left: 50%;
        margin-left: -115px;
        top: 0;

    }

    .mobile_nav ul {
        padding: 0;
        list-style-type: none;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 180px;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .nav li {
        float: left;
    }
    .nav{
        width: 550px;
        left: 241px;
        top: 35px;
    }

    .nav li a {
        font-size: 11px;
        line-height: 15px;
        /* identical to box height, or 143% */


    }



    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 410px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .eye {
        position: absolute;
        margin-right: -17px;
        margin-left: 50%;
    }
    .number_mts {
        display: none;
    }

    .mts_logo {
        position: static;
        display: none;
    }
    h1{
        font-size: 15px;
        line-height: 20px;
    }

    .slide_info {
        height: 200px;
        top: 50px;
        width: 300px;
        margin-left: 30px;
    }


    .slide_info p {
        display: none;
    }

    .slide_btn {
        width: 120px;
        height: 25px;
        margin-top: 10px;
    }
    .slide_btn a {
        font-size: 11px;
    }

    .slides img {



    }

    .prev {
        left: 0;
        top: -90px;
    }

    .next {
        left: auto;
        right: 0;
        top: -90px;
    }
    .advantages {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 210px);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .single_advantage{
        width: 100%;
    }

    .advantage_content {
        padding: 20px 5px 20px;
    }
    .advantage_content img{
        width: 170px;
    }
    .escort_text h2 {
        font-size: 22px;
        line-height: 22px;
        margin-left: 0;
    }
    .escort{
        margin-top: 500px;
    }



    .advantage_content p {
        font-size: 15px;
    }

    .escort_img{
        display: none;
    }

    .escort {
        height: 700px;
    }
    .escort_text {
        font-size: 14px;
        padding: 30px 40px 0 50px;
    }

    .activity_cards {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 120px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;
    }
    .single_activity_card{
        height: 100%;
        position: relative;
    }

    .activity_name {
        width: 200px;
        height: 90px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .activity_img {
        /*margin: 10px 5px 3px 30%;*/
        margin: auto;
        position: absolute;
        top: 20px;
        right: 15px;
        width: 80px;
        height: 80px;
    }
    .activity_img img{
        width: 100%;
    }

    .direction_text {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .dir_text {
        margin-top: 10px;
        /* or 167% */
        margin-left: 15px;
        width: 95%;
        /* Main text */
        color: rgba(0, 0, 0, 0.8);
    }
    .escort_text p {
        padding-top: 15px;

    }
    .activity .wrapper h2{
        margin-left: 15px;
    }

    .activity_btn {
        width: 140px;
        height: 35px;
        margin-top: 40px;
        margin-left: 15px;
    }
    .dir_text_title{
        margin-left: 15px;
    }

    .slider_last_container {
        width: 88%;
        margin: auto;
    }

    .next_last {
        margin-right: -22px;
    }


    .prev_last {
        margin-left: -22px;

    }
    .dir_slider img{
        width: 100%;
    }
    h2{
        margin-left: 15px;
    }
    .reviews_slider {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 700px);
        grid-row-gap: 30px;
    }
    .review_btn{
        width: 140px;
        height: 35px;
        margin-left: 15px;
    }
    .arrows_rev{
        width: 140px;
    }
    .clients{
        margin-left: 15px;
    }

    .client_first_line {
        display: flex;
        flex-direction: column;
    }
    .client_text{
        width: 95%;
        height: 150px;

    }
    .client_btn{
        margin-left: 0;
        width: 140px;
        height: 35px;
    }
    .client_btn a{
        font-size: 13px;
    }
    .result_first_line_box{
        padding: 45px 5px 5px;
    }



    .second_line_result p {
        color: rgba(0, 0, 0, 0.8);
        height: 100px;
        width: 720px;
        margin: 30px 20px auto 20px;
    }

    .service_line {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .second_service {
        margin-top: 30px;
        margin-left: 0;
    }

    .first_service, .second_service {
        width: 100%;
        /* Additional */
        height: 140px;
    }

    h4 {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height, or 173% */


        /* Title */

        color: rgba(0, 0, 0, 0.9);
    }

    .first_line_result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 305px;
        grid-column-gap: 30px;
    }

    .result_first_line_box img {
        left: auto;
        right: 0;
    }

    .result_first_line_box p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .second_line_result p{
        line-height: 13px;
    }
    .service_text{
        margin-left: 15px;
    }
    .slider_card img{
        width: 100%;
    }
    h5{
        line-height: 20px;
    }



    .client_logos {
        display: none;
    }

    .second_line_result p{
        font-size: 12px;
    }

    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }

    .service_text{
        width: 95vw;
        flex-direction: column;
    }
    .service_text p{
        width: 100%;
        height: 100%;
    }
    .service_btn{
        margin-left: 0;
        width: 140px;
        height: 35px;
        margin-top: 15px;
        text-align: center;
    }

    .first_why_choose_us {
        display: flex;
        flex-direction: column;
    }
    .white_back_second .wrapper p{
        width: 95%;
    }

    .why_choose_text p{
        margin-left: 15px;
    }
    .why_choose_list{
        margin-left: 40px;
    }

    .last_logo {
        margin-left: 0;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_list {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-row-gap: 30px;
    }
    .single_plus{
        width: 100%;
    }
    .plus_content{
        padding: 10px 5px 10px 5px;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_text{
        width: 97%;
        margin-right: auto;
        margin-left: auto;

    }
    .pluses_text p{
        margin-left: 10px;
        width: 95%;
    }

    .pluses_text img {
        left: auto;
        right: 0;
    }

    .cooperation .wrapper {
        display: flex;
        flex-direction: column;
    }
    .coop_text {
        width: 100%;
        height: auto;
    }
    .coop_text p{
        margin-left: 15px;
    }
    .coop_form{
        margin-right: 15px;
        margin-left: 15px;
        padding: 15px;
        width: auto;
        margin-top: 30px;
    }



    .form_pad {
        height: 275px;
        width: auto;
        margin: 10px;
    }
    .input{
        width: 91%;
    }
    .coop_list{
        margin-left: 15px;
    }
    .price p{
        margin-left: 15px;
        width: 95%;
        height: auto;
    }
    .price{
        margin-top: 125px;
    }

    footer .wrapper {
        display: flex;
        flex-direction: column;
    }

    .column_one {
        height: auto;
        width:92%;
        margin-top: 49px;
        margin-left: 15px;
    }

    .column_two {
        width: 92%;
        height: auto;
        flex-direction: column;

    }

    .offices_row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }

    .column_two_one, .column_two_two, .column_two_three {
        width: 92%;

    }

    .column_three {
        width: 92%;
        height: auto;

    }

}
@media screen and (max-width: 420px) {
    .header {
        display: none;
    }

    .mobile_nav {
        display: block;
        height: 65px;
    }


    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: 90%;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #DEC377;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    .mobile_nav .link_mob {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
        opacity: 1;
        font-family: Commissioner;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: 200ms;
    }

    .mobile_numbers {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
    .mobile_numbers img{
        width: 18px;
        height: 18px;
        margin-left: 2px;
        margin-top: 2px;
    }

    .mobile_nav .link_mob:hover {
        opacity: 0.5;
    }
    .mobile_nav .nav_logo{
        position: absolute;
        left: 50%;
        margin-left: -115px;
        top: 0;

    }

    .mobile_nav ul {
        padding: 0;
        list-style-type: none;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 180px;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        transition-delay: 2s;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .nav li {
        float: left;
    }
    .nav{
        width: 550px;
        left: 241px;
        top: 35px;
    }

    .nav li a {
        font-size: 11px;
        line-height: 15px;
        /* identical to box height, or 143% */


    }



    .numbers {

        margin-top: 15px;
        margin-right: 2px;
        margin-left: 410px;

        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        /* Secondary */

        color: rgba(0, 0, 0, 0.5);
    }

    .eye {
        position: absolute;
        margin-right: -17px;
        margin-left: 50%;
    }
    .number_mts {
        display: none;
    }

    .mts_logo {
        position: static;
        display: none;
    }
    h1{
        font-size: 13px;
        line-height: 18px;
    }

    .slide_info {
        height: 200px;
        top: 52px;
        width: 300px;
        margin-left: 30px;
    }


    .slide_info p {
        display: none;
    }

    .slide_btn {
        width: 120px;
        height: 25px;
        margin-top: 10px;
    }
    .slide_btn a {
        font-size: 11px;
    }

    .slides img {



    }

    .prev {
        left: 5px;
        top: -90px;
    }

    .next {
        left: auto;
        right: 5px;
        top: -90px;
    }
    .advantages {
        display: grid;
        grid-template-columns: repeat(1, 220px);
        grid-template-rows: repeat(4, 240px);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    .single_advantage{
        width: 100%;
    }

    .advantage_content {
        padding: 20px 5px 20px;
    }
    .advantage_content img{
        width: 210px;
    }
    .escort_text h2 {
        font-size: 22px;
        line-height: 22px;
        margin-left: 0;
    }
    .escort{
        margin-top: 1100px;
    }



    .advantage_content p {
        font-size: 15px;
    }

    .escort_img{
        display: none;
    }

    .escort {
        height: auto;
    }
    .escort_text {
        font-size: 14px;
        padding: 10px 10px 0 10px;
    }

    .activity_cards {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 120px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-items: center;
    }
    .single_activity_card{
        height: 100%;
        position: relative;
    }

    .activity_name {
        width: 180px;
        height: 90px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .activity_img {
        /*margin: 10px 5px 3px 15px;*/
        margin: auto;
        width: 60px;
        height: 60px;
        align-self: flex-end;
        position: absolute;
        right: 15px;
        top: 30px;
    }
    .activity_img img{
        width: 100%;
    }

    .direction_text {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .dir_text {
        margin-top: 10px;
        /* or 167% */
        margin-left: 15px;
        width: 95%;
        /* Main text */
        color: rgba(0, 0, 0, 0.8);
    }
    .escort_text p {
        padding-top: 15px;

    }
    .activity .wrapper h2{
        margin-left: 15px;
    }

    .activity_btn {
        width: 180px;
        height: 35px;
        margin-top: 40px;
        margin-left: 15px;
    }
    .dir_text_title{
        margin-left: 15px;
    }

    .slider_last_container {
        width: 88%;
        margin: auto;
    }

    .next_last {
        margin-right: -22px;
    }


    .prev_last {
        margin-left: -22px;

    }
    .dir_slider img{
        width: 100%;
    }
    h2{
        margin-left: 15px;
    }
    .reviews_slider {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 600px);
        grid-row-gap: 30px;
    }
    .slider_card a{
        margin-left: 10px;
    }

    .review_author{
        margin-top: 15px;
        margin-left: 15px;
    }
    .review_text{
        margin: 15px auto auto 10px;
    }
    .review_btn{
        width: 180px;
        height: 35px;
        margin-left: 15px;
        margin-top: 80px;
    }
    .arrows_rev{
        width: 140px;
        margin-top: 80px;
    }
    .clients{
        margin-left: 15px;
    }

    .client_first_line {
        display: flex;
        flex-direction: column;
    }
    .client_text{
        width: 95%;
        height: auto;

    }
    .client_btn{
        margin-left: 0;
        width: 180px;
        height: 35px;
        margin-top: 10px;
    }
    .client_btn a{
        font-size: 13px;
    }
    .result_first_line_box{
        padding: 45px 5px 5px;
    }



    .second_line_result p {
        color: rgba(0, 0, 0, 0.8);
        height: 100px;
        width: 720px;
        margin: 30px 20px auto 20px;
    }

    .service_line {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .second_service {
        margin-top: 30px;
        margin-left: 0;
    }

    .first_service, .second_service {
        width: 100%;
        /* Additional */
        height: 140px;
    }
    .first_service h5, .second_service h5 {
        font-size: 20px;
    }

    h4 {
        font-family: Commissioner;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height, or 173% */


        /* Title */

        color: rgba(0, 0, 0, 0.9);
    }

    .first_line_result {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 240px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .result_first_line_box img {
        left: auto;
        right: 0;
    }

    .result_first_line_box p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .result_first_line_box  {
        padding-left: 20px;
    }
    .why_choose_text{
        height: auto;
    }
    .why_choose_text p{
        height: auto;
    }
    .second_line_result{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .second_line_result p{
        line-height: 13px;
        margin: 10px 10px 10px 20px;
        width: auto;
        height: auto;

    }
    .second_line_result h4{
        width: auto;
        height: auto;
        padding: 10px;
        margin: 10px;
    }

    .service_text{
        margin-left: 15px;
    }
    .slider_card img{
        width: 100%;
    }
    .dir_text_title{
        width: auto;
    }
    h5{
        line-height: 20px;
    }



    .client_logos {
        display: none;
    }

    .second_line_result p{
        font-size: 12px;
    }

    .first_logo {
        margin-right: 0;
    }

    .middle_logo {
        margin-left: 0;
        margin-right: 0;
    }

    .service_text{
        width: 95vw;
        flex-direction: column;
    }
    .service_text p{
        width: 100%;
        height: 100%;
    }
    .service_btn{
        margin-left: 0;
        width: 180px;
        height: 35px;
        margin-top: 15px;
        text-align: center;
    }

    .first_why_choose_us {
        display: flex;
        flex-direction: column;
    }
    .white_back_second .wrapper p{
        width: 95%;
    }

    .why_choose_text p{
        margin-left: 15px;
    }
    .why_choose_list{
        margin-left: 40px;
        margin-top: 100px;
    }

    .last_logo {
        margin-left: 0;
    }
    .plus_content img{
        width: 150px;
    }
    .pluses_list {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 220px);
        grid-row-gap: 30px;
    }
    .single_plus{
        width: 100%;
    }
    .plus_content{
        padding: 10px 5px 10px 5px;
    }
    .plus_content img{
        width: 180px;
    }
    .pluses_text{
        width: 97%;
        height: auto;
        margin-right: auto;
        margin-left: auto;

    }
    .pluses_text p{
        margin-left: 10px;
        width: 95%;
        height: auto;
    }

    .pluses_text img {
        left: auto;
        right: 0;
    }

    .cooperation .wrapper {
        display: flex;
        flex-direction: column;
    }
    .coop_text {
        width: 100%;
        height: auto;
    }
    .coop_text p{
        margin-left: 15px;
    }
    .coop_form{
        margin-right: 15px;
        margin-left: 15px;
        padding: 15px;
        width: auto;
        margin-top: 30px;
    }



    .form_pad {
        height: 275px;
        width: auto;
        margin: 10px;
    }
    .input{
        width: 91%;
    }
    .coop_list{
        margin-left: 15px;
    }
    .price p{
        margin-left: 15px;
        width: 95%;
        height: auto;
    }
    .price{
        margin-top: 125px;
    }

    footer .wrapper {
        display: flex;
        flex-direction: column;
    }

    .column_one {
        height: auto;
        width:90%;
        margin-top: 49px;
        margin-left: 15px;
    }

    .column_two {
        width: 90%;
        height: auto;
        flex-direction: column;

    }

    .offices_row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }

    .column_two_one, .column_two_two, .column_two_three {
        width: 90%;

    }

    .column_three {
        width: 90%;
        height: auto;

    }
    h5{
        font-size: 14px;
    }
    .agency p{
        font-size: 10px;
    }

}